#submenuNS{
    position: absolute;
    top:160%;
    left:0%;
    background-color:rgb(252, 215, 8);
    list-style:none;
    list-style-type: none; 
    cursor:pointer;
    width: 250px;
}

#submenuNS li{   
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
    cursor:pointer;
    margin-left:0px;
    padding: 10px 0px; 
    text-decoration: none;
}

#submenuNS li a{
    color:#010101;
    
}

#submenuNS li:hover > a{
    color:#fefefe;
}