#itemDetailStyle{
    background-color: gold;
    padding: 30px;
    max-width: 600px;
    margin-top: 50px;
    margin-left: 30px;
    justify-content: center;
}

#detailCaption {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 30px;
    margin-bottom: 30px;
}

.descFont{
    margin-left: 50px;
    padding: 3px 0px;
}

.buttonTerminar {
    padding: 20px;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: auto;

}