#submenuNP{
    position: absolute;
    top:160%;
    left:0%;
    background-color:rgb(252, 215, 8);
    list-style:none;
    list-style-type: none; 
    cursor:pointer;
    width: 250px;
}

#submenuNP li{   
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
    cursor:pointer;
    margin-left:0px;
    padding: 10px 0px; 
    text-decoration: none;
    background-color:rgb(252, 215, 8);   
}

#submenuNP li a{
    color:#010101;   
}

#submenuNP li:hover > a{
    color:#fefefe;
}

#submenuNP li:hover{
    background-color: rgb(94, 94, 231);
}

#menuPpal li:hover #submenuNP li{
    display:block;
}