#iconoCarrito{
    grid-area: iconoCarrito;
    width:50px;
    padding: 5px 10px;
    margin-bottom: 0px;
    align-self: center;
    justify-items: center;
    cursor: pointer;
    text-decoration: none;
    color:#010101;
}

#iconoCarrito:hover{
    background-color: rgb(94, 94, 231);
}
