#itemBlock{
    background-color: gold;
    max-width: 150px;
    margin: 30px;
    padding: 30px;
}


p{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 12px;
    padding: 10px;
}