*{
    padding:0px;
    margin:0px;
}

header{
    display:grid;
    grid-template-columns: "10fr 1fr";
    grid-template-rows: "1fr 1fr";
    grid-template-areas: "titulo titulo"
                        "menuPpal iconoCarrito";
    background-color:rgb(252, 215, 8);
}

h1{
    font-family:Arial, Helvetica, sans-serif;
}

#titulo{
    grid-area: titulo;
    padding: 30px 40px;
}

#iconoCarrito{
    grid-area: iconoCarrito;
    width:50px;
    padding: 5px 10px;
    margin-bottom: 0px;
    align-self: center;
    justify-items: center;
    cursor: pointer;
}

#iconoCarrito:hover{
    background-color: rgb(94, 94, 231);
}

#menuPpal{
    grid-area: menuPpal;
    list-style:none;
    list-style-type: none; 
    padding: 10px 20px;  
}

#menuPpal li{
    position:relative;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-content: center;
    cursor:pointer; 
     
    display: inline-block;  
}

#menuPpal li a{
    text-decoration: none;
    color:#010101;
    padding: 10px 20px; 
}

#menuPpal li ul li{
    display:none;
}

#menuPpal li a:hover{
    color:#fefefe;
    background-color: rgb(94, 94, 231);
}

/*submenu*/

#submenuNP{
    position: absolute;
    top:160%;
    left:0%;
    background-color:rgb(252, 215, 8);
    list-style:none;
    list-style-type: none; 
    cursor:pointer;
    width: 250px;
}

#submenuNP li{   
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-content: center;
    cursor:pointer;
    margin-left:0px;
    padding: 10px 0px; 
    text-decoration: none;
    background-color:rgb(252, 215, 8);   
}

#submenuNP li a{
    color:#010101;   
}

#submenuNP li:hover > a{
    color:#fefefe;
}

#submenuNP li:hover{
    background-color: rgb(94, 94, 231);
}

#menuPpal li:hover #submenuNP li{
    display:block;
}

#submenuNS{
    position: absolute;
    top:160%;
    left:0%;
    background-color:rgb(252, 215, 8);
    list-style:none;
    list-style-type: none; 
    cursor:pointer;
    width: 250px;
}

#submenuNS li{   
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-content: center;
    cursor:pointer;
    margin-left:0px;
    padding: 10px 0px; 
    text-decoration: none;
    /* background-color:rgb(252, 215, 8);    */
}

#submenuNS li a{
    color:#010101;
    
}

#submenuNS li:hover > a{
    color:#fefefe;
}

#submenuNS li:hover{
    background-color: rgb(94, 94, 231);
}

#menuPpal li:hover #submenuNS li{
    display:block;
}
